/* Общие */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
  }

:root {
    /* MAIN */
    --main-pink: #EB9898;
    --main-yellow:#E9BE50;
    --main-blue: #CFDDE6;

    /* BG */
    --bg-opacity: rgba(226, 227, 233, 0.5);;

    /* BUTTON */
    --btn-bg: #EB9898;
    --btn-bg-h: #CB6969;
    --btn-bg-cl: #CB6969;
    --btn-txt: #FFFFFF;

    /* INPUT */
    --input-bg: #FCFCFC;
    --input-stroke: #EB9898;

    /* TEXT */
    --text: #000000;
    --text-red: #EB5757;
}

/* ТЕКСТ И ССЫЛКИ */

a, p, ol, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p, li {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: var(--text);
}

@media (max-width: 600px) {
    p, li {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    p, li {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    p, li {
        font-size: 16px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    p, li {
        font-size: 18px;
    }
}

li {
    padding-bottom: 10px;
}

ol {
    list-style-position: inside;
}


/*  BTN КНОПКИ */

.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--btn-bg);
    border: none;
    border-radius: 10px;
    color: var(--btn-txt);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    padding: 15px 32px;
    width: fit-content;
    cursor: pointer;
}

@media (max-width: 600px) {
    .btn {
        font-size: 15px;
        padding: 15px 24px;
        margin: 0 auto;
        width: 100%;
    }
}

.btn:hover {
    background-color: var(--btn-bg-h);
    color: var(--btn-txt);
    transition: all 250ms linear;
}

.btn:active {
    background-color: var(--btn-bg);
    color: var(--btn-txt);
    transition: all 250ms linear;
}

/* ЗАГОЛОВКИ */

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 120%;
    color: var(--text-black);
    text-transform: none;
    text-align: left;
}

@media (max-width: 600px) {
    h1 {
        font-size: 40px;
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h1 {
        font-size: 46px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 50px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h1 {
        font-size: 56px;
    }
}

/* СТИЛИ */

.screen {
    /* height: 100vh; */
    height: 100%;
    padding: 50px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .screen {
        padding: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .screen {
        padding: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .screen {
        padding: 40px;
    }
}

.posittion-bg-image {
    position: absolute;
}

.posittion-top-left{
    top: 0;
    left: 0;
}

.posittion-bottom-right {
    bottom: 0px;
    right: 0px;
}

@media (max-width: 600px) {
    .posittion-bottom-right {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .posittion-bottom-right {
        display: none;
    }
}

.posittion-bottom-left {
    bottom: 0;
    left: 0;
}

.application-screen {
    background-color: var(--bg-opacity);
    border-radius: 50px;

    padding: 50px;
    height: 100%;
    /* height: 100vh; */
}

@media (max-width: 600px) {
    .application-screen {
        padding: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .application-screen {
        padding: 40px;
    }
}

.application-title {
    padding-bottom: 30px;
}

@media (max-width: 600px) {
    .application-title {
        padding-bottom: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .application-title {
        padding-bottom: 24px;
    }
}

.acccent-text {
    font-weight: 700;
    color: var(--text-red);
    padding-bottom: 20px;
}

.add-case {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;

    gap: 20px;
}

@media (max-width: 660px) {
    .add-case {
        flex-direction: column;
        gap: 12px;
    }
}

.application-input {
    background: var(--input-bg);
    border: 3px solid var(--input-stroke);
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    padding: 8px 20px;
    min-width: 400px;
}

@media (max-width: 660px) {
    .application-input {
        font-size: 15px;
        padding: 8px 20px;
        min-width: 100%;
        height: 48px;
    }
}